<div class="container detaildisplay" *ngIf="projects" >
    <div class="heading" *ngIf="mongodata">
      <h3>{{projects.name |titlecase}}</h3>
      
  
    </div><br>
    <button class="button button1" [routerLink]="['/task']">
      <span>View Progress</span></button>
    <table class="tab">
      <tr>
        <td class="col1">
          <h4>Description: </h4>
        </td>
        <td class="col2">
          <p>{{mongodata.projectDesc}}</p>
        </td>
      </tr>
      <tr>
        <td class="col1">
          <h4>GitHub link: </h4>
        </td>
        <td class="col2">
          <p><a href="project.githubLink">{{projects.githubLink}}</a></p>
        </td>
      </tr>
  
      <tr>
        <td class="col1">
          <h4>Stakeholders:</h4>
        </td>
        <td class="col2">
          <p>{{mongodata.stakeholders}}</p>
        </td>
      </tr>
     <!--  <tr>
        <td class="col1">
          <h4>Budget:</h4>
        </td>
        <td class="col2">
          <p>{{ projects.budget}}</p>
        </td>
      </tr> -->
      <tr>
        <td class="col1">
          <h4>Due Date:</h4>
        </td>
        <td class="col2">
          <p>{{ projects.endDate | date: "MM/dd/yy"}}</p>
        </td>
      </tr>
      <tr>
        <td class="col1">
          <h4>Start Date:</h4>
        </td>
        <td class="col2">
          <p>{{ projects.startDate | date: "MM/dd/yy"}}</p>
        </td>
      </tr>
      <tr>
        <td class="col1">
          <h4>Manager:</h4>
        </td>
        <td class="col2">
          <p>{{ projects.managerId.firstName}} {{ projects.managerId.middleName}} {{ projects.managerId.lastName}}</p>
        </td>
      </tr>
    </table>
  
  
  </div>