<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #todoForm="ngForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" [(ngModel)]="todo.name" class="form-control" id="name" name="name"
                    placeholder="Enter  name" required #title="ngModel">
            </div>

            <div class="form-group">
                <label for="description">Email</label>
                <input type="text" [(ngModel)]="todo.email" class="form-control" id="email" name="email"
                    placeholder="Enter email" required #description="ngModel">

            </div>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </div>
</div>